.x-body {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial;
    font-size: 11px;
    color: #333;
}
.x-panel-header-text-default,
.x-panel-header-text-default-framed {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial;
    font-size: 11px;
    color: #333;
}
/*"Helvetica Neue","Helvetica",Helvetica,Arial,*/